.settings-icon {
  background: none;
  border: none;
  color: var(--background-color);
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: 10px;
}

.settings-icon.active {
  transform: rotate(90deg);
}

.settings-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--background-color);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  z-index: 1001;
  overflow-y: auto;
}

.settings-sidebar.open {
  right: 0;
}

.settings-content {
  padding: 20px;
}

.close-settings {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--primary-color);
}

.setting-item {
  margin-bottom: 20px;
}

.setting-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

.theme-selector {
  width: 100%;
}

.react-select__control {
  border-color: var(--secondary-color) !important;
  box-shadow: none !important;
}

.react-select__control:hover {
  border-color: var(--primary-color) !important;
}

.react-select__option {
  cursor: pointer;
}

.react-select__option--is-focused {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.react-select__option--is-selected {
  background-color: var(--primary-color) !important;
}

.react-select__single-value {
  color: var(--text-color) !important;
}
